{% extends 'adminbase.html' %}
{% block content %}
<div class="container-fluid middle">
    <div class="row">


        <div class="col-sm-12">
            <form class="signupform" enctype="multipart/form-data" method="POST">
                <div class="form-group">
    <label for="Name">FullName</label>
    <input type= "text" id="Name" name="Name" placeholder="">
  </div>

<!--{{ form.as_p }}-->
    {% csrf_token %}

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" id="exampleInputEmail11" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" id="exampleInputPassword1" name="password" placeholder="Password">
  </div>
     <div class="form-group">
    <label for="mobileno">MobileNo</label>
    <input type="number" id="mobileno" name="mobileno" placeholder="">
  </div>
                <div class="form-group">
    <label >Gender</label>
    <input type=radio  id="male" name="gender" value="male"> <span>Male</span>
    <input type=radio  id="female" name="gender" value="female"> <span>Female</span>
  </div>
                <div class="form-group">
    <label for="dob">DOB</label>
    <input type="date" id="dob" name= "dob" placeholder="">
  </div>
                <div class="form-group">
    <label for="img">Upload-Image</label>
    <input type=file id="img" name="img" placeholder="">
  </div>
                <button type="submit" class="btn btn-primary" style="width:100px;height:40px;color:white;">Submit</button>
</form>









        </div>
</div>
</div>




{% endblock content %}
