{% extends 'adminbase.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <form><label>old password</label>
                {% csrf_token %}
            <input type="text" id="op" name="op" class="form-control">
            <label>new password</label>
            <input type="text" id="np" name="np" class="form-control">
            <label>confirm new password</label>
            <input type="text" id="cnp" name="cnp" class="form-control">


            </form>

        </div>






    </div>













</div>






{% endblock content %}
